Kandidaten-Zuordnung (Automatisch) final_16.11.2025.json
{
  "name": "Kandidaten-Zuordnung (Automatisch) final_16.11.2025",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "93401ce2-3580-4fbc-ad67-adcd1648beb0",
      "name": "Jede Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        320
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "b3f1eeab-2d1a-42f2-a9ba-9792568bc217",
          "mode": "list"
        },
        "options": {}
      },
      "id": "f3422ea5-82ac-4ef9-be78-4dbbc68f7fb8",
      "name": "Kandidaten laden",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -192,
        208
      ],
      "credentials": {
        "notionApi": {
          "id": "Lmd2yYvrhlVtTu6h",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "c6d33fd3-0f92-4e6d-87fe-4cb9fdb2c2aa",
          "mode": "list"
        },
        "options": {}
      },
      "id": "5a1420dd-5e02-41b0-bd84-eb7c36022ac2",
      "name": "Fachgeschäfte laden",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -192,
        416
      ],
      "credentials": {
        "notionApi": {
          "id": "Lmd2yYvrhlVtTu6h",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {},
      "id": "4ff952d3-4189-4eb7-9eaa-4de14bc3f850",
      "name": "Zusammenführen",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        32,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Kandidat\n  if (data.property_geburtsdatum) {\n    let maxDistanz = 50;\n    \n    for (const key of Object.keys(data)) {\n      if (key.toLowerCase().includes('gew') && key.toLowerCase().includes('nschte')) {\n        const match = String(data[key]).match(/\\d+/);\n        if (match) {\n          maxDistanz = parseInt(match[0]);\n          break;\n        }\n      }\n    }\n    \n    // Prüfe ob Koordinaten vorhanden sind\n    const hasCoords = (data.property_latitude !== null && data.property_latitude !== undefined && \n                       data.property_longitude !== null && data.property_longitude !== undefined);\n    \n    results.push({\n      json: {\n        id: data.id,\n        name: data.property_name,\n        address: data.property_wohnadresse,\n        lat: data.property_latitude,\n        lng: data.property_longitude,\n        max_distanz_km: maxDistanz,\n        type: 'kandidat',\n        needs_geocoding: !hasCoords\n      }\n    });\n  }\n  // Fachgeschäft\n  else if (data.property_adresse) {\n    const hasCoords = (data.property_latitude !== null && data.property_latitude !== undefined && \n                       data.property_longitude !== null && data.property_longitude !== undefined);\n    \n    results.push({\n      json: {\n        id: data.id,\n        name: data.property_name,\n        address: data.property_adresse,\n        lat: data.property_latitude,\n        lng: data.property_longitude,\n        type: 'shop',\n        needs_geocoding: !hasCoords\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "5810be58-8b4a-4392-8d33-a99cfb276553",
      "name": "Adressen extrahieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        320
      ]
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/geocode/json?address={{ encodeURIComponent($json.address) }}&key=AIzaSyB7dobE4yimw9nLaqSC0YEwUVVocyFusy4",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "id": "2558ef8b-419d-462e-a3a7-2e62b791a332",
      "name": "Geocoding (nur wenn nötig)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        320
      ],
      "executeOnce": false,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const current = items[i].json;\n  const original = $('Adressen extrahieren').all()[i].json;\n  \n  let finalLat = original.lat;\n  let finalLng = original.lng;\n  let needsSave = false;\n  \n  // Wenn Geocoding erfolgte und erfolgreich war\n  if (original.needs_geocoding && current.status === 'OK' && current.results && current.results[0]) {\n    const loc = current.results[0].geometry.location;\n    finalLat = loc.lat;\n    finalLng = loc.lng;\n    needsSave = true;\n  }\n  \n  results.push({\n    json: {\n      ...original,\n      lat: finalLat,\n      lng: finalLng,\n      needs_save: needsSave\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "b135763e-ee1f-4a4e-ac0c-bd8ad90c84fb",
      "name": "Koordinaten zusammenführen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        320
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { 'Latitude': { number: $json.lat }, 'Longitude': { number: $json.lng } } }) }}",
        "options": {}
      },
      "id": "479f9131-8093-4605-b23f-ac462c77ef99",
      "name": "Koordinaten in Notion speichern",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        320
      ],
      "executeOnce": false,
      "credentials": {
        "notionApi": {
          "id": "Lmd2yYvrhlVtTu6h",
          "name": "Notion account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Hole die ursprünglichen Daten von \"Koordinaten zusammenführen\"\nconst all = $('Koordinaten zusammenführen').all().map(x => x.json);\nconst kandidaten = all.filter(x => x.type === 'kandidat');\nconst shops = all.filter(x => x.type === 'shop');\n\n// Hole Original-Notion-Daten\nconst kandidatenOriginal = $('Kandidaten laden').all().map(x => x.json);\nconst originalDataMap = {};\nfor (const k of kandidatenOriginal) {\n  originalDataMap[k.id] = k;\n}\n\nfunction distance(lat1, lon1, lat2, lon2) {\n  const R = 6371;\n  const dLat = (lat2-lat1) * Math.PI/180;\n  const dLon = (lon2-lon1) * Math.PI/180;\n  const a = Math.sin(dLat/2)**2 + Math.cos(lat1*Math.PI/180) * Math.cos(lat2*Math.PI/180) * Math.sin(dLon/2)**2;\n  return R * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n}\n\nconst results = [];\n\nfor (const k of kandidaten) {\n  const maxDist = Number(k.max_distanz_km);\n  \n  // Problem: Keine Koordinaten\n  if (!k.lat || !k.lng) {\n    results.push({\n      json: {\n        kandidat_name: k.name,\n        kandidat_id: k.id,\n        shop_ids: [],\n        min_dist: null,\n        all_distances: '',\n        status: '❌ Fehler',\n        comment: '❌ Fehler: Keine Koordinaten verfügbar. Adresse konnte nicht geocoded werden.'\n      }\n    });\n    continue;\n  }\n  \n  // Problem: Keine gewünschte Distanz\n  if (!maxDist || isNaN(maxDist)) {\n    results.push({\n      json: {\n        kandidat_name: k.name,\n        kandidat_id: k.id,\n        shop_ids: [],\n        min_dist: null,\n        all_distances: '',\n        status: '❌ Fehler',\n        comment: '❌ Fehler: Gewünschte Distanz nicht definiert.'\n      }\n    });\n    continue;\n  }\n  \n  const nearby = [];\n  \n  for (const s of shops) {\n    if (!s.lat || !s.lng) continue;\n    \n    const d = distance(k.lat, k.lng, s.lat, s.lng);\n    const distKm = Math.round(d*10)/10;\n    \n    if (d <= maxDist) {\n      nearby.push({ id: s.id, name: s.name, dist: distKm });\n    }\n  }\n  \n  nearby.sort((a,b) => a.dist - b.dist);\n  \n  // Hole aktuelle Zuordnungen aus Notion\n  const currentData = originalDataMap[k.id];\n  const currentShopIds = (currentData && currentData.property_zuk_nftiger_arbeitgeber) \n    ? currentData.property_zuk_nftiger_arbeitgeber.map(rel => rel.id).sort() \n    : [];\n  \n  // Neue Shop IDs\n  const newShopIds = nearby.map(x => x.id).sort();\n  \n  // Vergleiche: Nur updaten wenn sich etwas geändert hat\n  const hasChanged = JSON.stringify(currentShopIds) !== JSON.stringify(newShopIds);\n  \n  // Problem: Keine Shops gefunden\n  if (nearby.length === 0) {\n    // Nur updaten wenn sich Status geändert hat\n    const currentStatus = currentData?.property_zuordnungs_status || '';\n    if (hasChanged || currentStatus !== '⚠️ Keine Shops') {\n      results.push({\n        json: {\n          kandidat_name: k.name,\n          kandidat_id: k.id,\n          shop_ids: [],\n          min_dist: null,\n          all_distances: '',\n          status: '⚠️ Keine Shops',\n          comment: `⚠️ Keine Fachgeschäfte in ${maxDist} km Umkreis gefunden.`\n        }\n      });\n    }\n  }\n  // Erfolg: Shops gefunden\n  else if (hasChanged) {\n    const text = nearby.map((x,i) => `${i+1}. ${x.name}: ${x.dist} km`).join('\\n');\n    const allDistances = nearby.map(x => `${x.name}: ${x.dist} km`).join('\\n');\n    \n    results.push({\n      json: {\n        kandidat_name: k.name,\n        kandidat_id: k.id,\n        shop_ids: nearby.map(x => x.id),\n        min_dist: nearby[0].dist,\n        all_distances: allDistances,\n        status: '✅ OK',\n        comment: 'Zugeordnete Geschäfte:\\n' + text\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "af471d86-f31b-466a-97e1-d7db8176c6c0",
      "name": "Berechnen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        320
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.kandidat_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ properties: { 'zukünftiger Arbeitgeber': { relation: $json.shop_ids.map(id => ({id})) }, 'Distanz Wohnort zukünftiger Arbeitgeber': { rich_text: $json.all_distances ? [{ text: { content: $json.all_distances } }] : [] }, 'Kommentar': { rich_text: [{ text: { content: $json.comment } }] }, 'Zuordnungs-Status': { select: { name: $json.status } } } }) }}",
        "options": {}
      },
      "id": "5f16ac73-193e-4f64-bf55-6ab547e7bed9",
      "name": "Notion Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1568,
        320
      ],
      "credentials": {
        "notionApi": {
          "id": "Lmd2yYvrhlVtTu6h",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Jede Minute": {
      "main": [
        [
          {
            "node": "Kandidaten laden",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fachgeschäfte laden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kandidaten laden": {
      "main": [
        [
          {
            "node": "Zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fachgeschäfte laden": {
      "main": [
        [
          {
            "node": "Zusammenführen",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Zusammenführen": {
      "main": [
        [
          {
            "node": "Adressen extrahieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adressen extrahieren": {
      "main": [
        [
          {
            "node": "Geocoding (nur wenn nötig)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Geocoding (nur wenn nötig)": {
      "main": [
        [
          {
            "node": "Koordinaten zusammenführen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Koordinaten zusammenführen": {
      "main": [
        [
          {
            "node": "Koordinaten in Notion speichern",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Koordinaten in Notion speichern": {
      "main": [
        [
          {
            "node": "Berechnen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Berechnen": {
      "main": [
        [
          {
            "node": "Notion Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3c9d34de-ee9a-4828-b869-674b0b35f1e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "569c37d68ab6b125eefce2774fbbe6dfa05499b9a3c9ba0b000024d5267810fb"
  },
  "id": "RDnhXVyrWd8evhFK",
  "tags": []
}